/* generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main */

/* nav */
nav {
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 999;
}

nav ul li {
    display: inline-block;
    background-color: white;
    margin: 0 10px;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50%;
    
}

nav ul li a {
    text-decoration: none;
}

/* sections */
section {
    height: 100vh;
    position: relative;
}

#rossa {
    background: red;
}

#verde {
    background-color: green;
}

#gialla {
    background-color: yellow;
}

section img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
}

section h1 {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 39px;
    width: 25vw;
    text-align: center;
}

.testo-giallo {
    color: yellow;
}

.testo-verde {
    color: green;
}
